rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
  function owner() {
   return request.auth != null
    && request.auth.uid == 'ucIkAmsEPqYXXyZM4U9OV5Rq8Fa2';
  }
  match /users/{userId}/{document=**} {
   allow read, write: if owner() && userId == request.auth.uid;
  }
  match /publicSite/config {
   allow read: if true;
   allow write: if owner() && request.resource.data.size() <= 100;
  }
  match /publicSite/products/items/{id} {
   allow read: if true;
   allow write: if owner();
  }
  match /publicSite/gallery/items/{id} {
   allow read: if true;
   allow write: if owner();
  }
 }
}
